<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Index of URLS</title>
  </head>
  <body>
  <header>  <% include ./partials/_header %> </header>
<div class="jumbotron">

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">shortURL</th>
      <th scope="col">website</th>
      <th scope="col">date Created</th>
      <th scope="col"># total clicks</th>
      <th scope="col"># unique clicks</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      <% for(let short in data) { %>
    <tr>
      <% let long = data[short] %>
      <td><a href="/urls/<%=short%>"><%=short %></td></a>
      <td><a href="<%=long%>"><%=long %></td></a>
      <td><%= dateBank[short]['date'] %></td>
      <td><%= dateBank[short]['countURL'] %></td>
      <td><%= dateBank[short]['countUnique'] %></td>
      <td>
          <form method="POST" action="/urls/<%=short%>/delete?_method=DELETE">
              <button type="submit" class="btn btn-danger" value="Submit">delete</button>
          </form>
      </td>
      <td>
        <form method='POST' action='/urls/<%=short%>/update'>
          <button type="submit" class="btn btn-success" >update</button>
        </form>
      </td>
      <td>
        <h5> shortURL link: </h5>
          <a href="http://localhost:8080/u/<%=short%>">http://localhost:8080/u/<%=short%></a>
      </td>
        <!--       countURL and countUnique will only update once page refreshes
              ie: you can't click on shortURL go back and see the adjusted count
               you need to reload page so the adjusted count can be shown
              for the site's application this shouldn't be a problem tho
              since users are checking if OTHER people are clicking it
              so they'd be loading the page anew -->
    </tr>
      <% } %>
  </tbody>
</table>
    <a href="/urls/new" class="btn btn-info">To shorten URL</a>
</div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>