<!DOCTYPE html>
<html lang="en">
<head>
  <h1><title>TinyApp</title></h1>
  <% %>
</head>
<body>
    <header>
      <% include ./partials/_header %>
    </header>

    <table>
      <tr>
        <h1><th>URL index</th></h1>
      </tr>
      <tr></tr>
      <tr>
        <td>short url</td>
        <td>long url</td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <% for(let short in data) { %>
        <tr>
          <% let long = data[short] %>
        <td><a href="/urls/<%=short%>"><%=short %></td></a>
        <td><a href="<%=long%>"><%=long %></td></a>
        <td>
          <form method="POST" action="/urls/<%=short%>/delete">
              <button type="submit" value="Submit">delete</button>
          </form>
        </td>
        <td>
            <form method='POST' action='/urls/<%=short%>/update'>
            <button type="submit" >update</button>
            </form>
        <td>

        </td>

        </td>
      </td>
      </tr>
        <%} %>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
    </table>



    <a href="/urls/new">To shorten URL</a>
</body>
</html>